@media only screen and (min-width: 37.5em) {
header{
    background-color: #0c629c;
    color: white;
    font-size: 1em;
    text-align: center;
    font-family: 'Open Sans','Roboto Condensed','Ubuntu';
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px #363733;
    display: flex;
	flex-flow: column;
}    
.logo{
    width: 150px;
    z-index: 1;
    float: left ;
}
header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
    display: flex;
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent,rgb(255, 42, 0), transparent) bottom /
		var(--d, 0) 3px no-repeat;
	transition: 0.5s;
    flex: 1 1 auto;
}
.active {
	color: rgb(106, 255, 0);
}
nav a:hover {
     	background-color: #bbb;
color: #36454f; 
    --d: 75%;
}
footer {
    display: grid ;
    grid-template-rows: 5% 1fr 5%;
    grid-row: 1/2;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans','Roboto Condensed','Ubuntu';
    background-color: #0c629c; 
    box-shadow: 5px 5px 10px #363733;
    text-align: center;
    font-size: 1.2em;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
/* page target */
#main-target{
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 250px 200px 250px;
}
#target{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(220, 220, 196);
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 2px solid #201e31;
    border-radius:10px;
}
#target h1{
    background-color: #201e31;
    color: white;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
}
#target p{
    font-size: 1.2em;
    margin: 10px;
}
#personas{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(220, 220, 196);
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 2px solid #201e31;
    border-radius:10px;
}
#personas h2{
    background-color: #201e31;
    color: white;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
}
#personas h3{
    font-size: 1.2em;
    margin: 10px;
}
#scenarios{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: rgb(220, 220, 196);
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 2px solid #201e31;
    border-radius:10px;
}
#scenarios h2{
    background-color: #201e31;
    color: white;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
}
#target ul{
    font-size: 1.2em;
    margin: 10px;
}

/*page color*/

#main-color{
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 300px;
}
#palette{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(220, 220, 196);
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 2px solid #201e31;
    border-radius:10px;
}
#palette h2{
    background-color: #201e31;
    color: white;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
}
#palette a{
    margin: 10px;
}
#palette p{
    font-size: 1.2em;
    margin: 10px;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

  /*typography*/
#main-typo{
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 200px;
}
#typo{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(220, 220, 196);
    margin-top: 10px;
    margin-bottom: 10px; 
    border: 2px solid #201e31;
    border-radius:10px;
}
#typo h2{
    background-color: #201e31;
    color: white;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    border-radius:10px;
}
#typo h3{
    font-size: 1.2em;
    margin: 10px;
}
}