table {
	margin: 10px auto;
	border: thin solid black;
	box-shadow: 0 0 30px grey;
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: rgb(110, 35, 181);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: rgb(110, 35, 181);
	color: whitesmoke;
}

th, td {
	padding: 7px 15px;
	border: 1px solid black;
}

th {
	background-color: violet;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: hsl(0, 0%, 93%, 1);
}
